
<h3>Create New Recipe</h3>
<form action="/" method="post">
  <label for="name">Please input the name of the recipe:</label><br>
  <input type="text" name="name" id="name"><br><br>
  <div>
    <label for="ingredient">Please add ingredients:</label>&emsp;
    <label for="instruction">Please add instructions:</label>
  </div>
  <div>
    <input type="text" name="ingredient1" id="ingredient1">&emsp;
    <input type="text" name="instruction1" id="instruction1">
  </div>
  <div>
    <input type="text" name="ingredient2" id="ingredien2t">&emsp;
    <input type="text" name="instruction2" id="instruction2">
  </div>
  <div>
    <input type="text" name="ingredient3" id="ingredient3">&emsp;
    <input type="text" name="instruction3" id="instruction3">
  </div>
  <div>
    <input type="text" name="ingredient4" id="ingredient4">&emsp;
    <input type="text" name="instruction4" id="instruction4">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
